.App {
  width: 80%;
  margin: 0 auto;
}

.profile-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
}

@media (max-width: 1000px) {
  .profile-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .App {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .profile-list {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .App {
    width: 50%;
  }
}
